__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

.vscode/

# others
checkpoints/
results/
datasets/
temp/
/resnet50_places365.pth.tar

slutils/metadata/train.csv
slutils/metadata/hudsonriver5k.csv
slutils/metadata/unionsquare5k.csv
slutils/metadata/wallstreet5k.csv

